*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --VeryDarkBlue: hsl(243, 87%, 12%) !important;
    --DesaturatedBlue: hsl(238, 22%, 44%) !important;
    --BrightBlue: hsl(224, 93%, 58%) !important;
    --ModerateCyan: hsl(170, 45%, 43%) !important;
    --LightGrayishBlue: hsl(240, 75%, 98%) !important;
    --LightGray: hsl(0, 0%, 75%) !important;
}

body {
    font-family: 'Open Sans';
}

h2 {
    font-size: 1.5rem;
}

h3 {
    text-align: center;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    display: inline;
    padding: 0px 5px;
}

#hero,
#features {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 0;
}

#hero {
    text-align: center;
}

#text-area p {
    margin: 20px 0;
}


#text-area a {
    text-decoration: none;
    color: var(--ModerateCyan);
    padding-right: 5px;
}

#card {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: black 4px 4px 20px;
}

#cta {
    color: white;
    text-align: center;
    background-color: var(--DesaturatedBlue);
    padding: 30px 0;
}

#cta p {
    padding: 20px 10px;
}

#footer {
    background-color: var(--VeryDarkBlue);
    color: white;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    padding-top: 20px;
}

.nav-logo {
    width: 40%;
}

.background {
    background: url(images/bg-curve-mobile.svg) no-repeat center;
    background-size: cover;
}

.container {
    width: 90%;
    margin: auto;
}

.illustration-img {
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.1rem;
    padding: 10px 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.form a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--BrightBlue);
    font-family: 'Raleway';
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

.tmt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-image {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-weight: 700;
}

.designation {
    font-size: .6rem;
}

.form-sm {
    width: 70%;
    margin: 0 auto;
}

.footer-logo {
    filter: brightness(0) invert(1);
    padding: 20px 0;
}

.footer-icons {
    margin-right: 10px;
}

.block {
    padding-top: 20px;
}

.btn:hover {
    opacity: .7;
}

.ionic-icon {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
}

@media screen and (min-width: 650px) {

    #hero,
    #features {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-top: 5%;
    }

    .hero-img,
    #image-area {
        width: 50%;
    }

    .hero-text,
    #text-area {
        text-align: left;
        width: 40%;
    }

    .form {
        flex-direction: row;
    }

    #hero input,
    #hero a {
        padding: 10px 15px;
        margin: 0 10px 0 0;
    }

    .illustration-img {
        display: block;
    }

    .background {
        background: url('images/bg-curve-desktop.svg') no-repeat center;
        background-size: cover;
    }

    h2,
    h3 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
        padding-bottom: 20px;
    }

    h3,
    .tmt {
        margin: 0;
        justify-content: flex-start;
        text-align: left;
    }

    #card {
        margin: 0;
        margin-top: 30px;
        border-radius: 25px;
        width: 70%;
    }

    #cta p {
        padding: 0;
        text-align: left;
    }

    .cta-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cta-text {
        width: 40%;
    }

    .form-sm {
        width: 50%;
        margin: 0;
        flex-direction: column;
    }

    .form-sm input {
        width: 80%;
    }

    .btn-large {
        width: 40%;
        margin: 20px 0 0 0;
    }

    .footer-logo p {
        padding-top: 10px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

}